<h1><%= @article.title %></h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
 <% unless @article.image.blank? %>
      <%= image_tag @article.image.variant(resize: "300x300") %><br/>
<% end %>
<p><%= @article.body %></p>
<p><%= link_to "delete", article_path(@article), method: :delete , data: {confirm: "Do you really want to delete the article?"}%></p>
<p><%= link_to "edit", edit_article_path(@article) %></p>
<%= link_to "<< Back to Articles List", articles_path %>
<%= render partial: 'comments/form' %>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>



